/*----------------- 
Backend related CSS
-----------------*/

/* ORDERS */

#wc-orders-filter .wc-orders-list-table mark.status-deposit-paid {
    background-color: #77b1e1;

}

#wc-orders-filter .wc-orders-list-table mark.status-deposit-expired {
    background-color: #9d6f6f;
    color: #fff;
}

#order_data .order_data_column:last-of-type {
    display: none;
}

#order_data .second-participant-container {
    margin-bottom: 20px;
}

#order_data .second-participant-container p,
#order_data .deposit-data-container p {
    margin: 0;
}

/* ROOMS CPT */

#package_attr select {
    min-height: unset;
    line-height: 1.4;
}

#package_attr .package-attr-content {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

#package_attr .package-attr-content section {
    padding: 10px 0;
}

#package_attr .package-attr-content .section-title {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
}

#package_attr .general-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#package_attr .select-wrapper {
    display: flex;
    align-items: center;
}

#package_attr .room-capacity-wrapper {
    display: flex;
    gap: 20px;
}

#package_attr .room-capacity-wrapper select {
    width: 55px;
}

#package_attr .package-attr-content section.beds-wrapper {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#package_attr .beds-wrapper .options-wrapper {
    display: flex;
    justify-content: space-between;
    /* max-width: 600px; */
}

#package_attr .beds-wrapper select {
    width: 100%;
}

#package_attr .beds-wrapper .bed-type-wrapper {
    padding: 7px;
    background-color: #cfe3e4;
    border-radius: 5px;
}

#package_attr .beds-wrapper .bed-type-wrapper:has(input:not(:checked)) .number-of-beds-wrapper {
    display: none;
}

#package_attr .beds-wrapper .bed-type-wrapper label {
    font-weight: 600;
    text-decoration: underline;
}

#package_attr .amenities-wrapper .options-wrapper {
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#gallery-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#gallery-preview li {
    position: relative;
}

#gallery-preview li .remove-image-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    width: 20px;
    padding-bottom: 3px;
    border: none;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    color: #030303;
    cursor: pointer;
    transition: all .3s linear;
}

#gallery-preview li .remove-image-button:hover {
    background-color: #030303;
    color: rgb(230, 230, 230);
}

#gallery-preview li img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

/* MESSAGES CPT */
#retreat-message-options h4 {
    margin: 0 0 5px;
}

#retreat-message-options .input-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

#retreat-message-options input[type="number"] {
    width: 35px;
    direction: rtl;
    padding: 0 3px 0 0;
}

#retreat-message-options .message-options-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#retreat-message-options .message-options-content .schedule-message .content,
#retreat-message-options .message-options-content .timing-wrapper {
    display: flex;
}

#retreat-message-options .message-options-content .schedule-message,
#retreat-message-options .input-wrapper.attachment {
    grid-column: 1/-1;
}

#retreat-message-options .message-options-content .schedule-message h4 {
    margin-bottom: 8px;
}

#retreat-message-options .message-options-content .schedule-message p {
    margin: 0;
}

#retreat-message-options .message-options-content .schedule-message .content {
    max-width: 850px;
    margin: auto;
    justify-content: space-between;
}

#retreat-message-options .message-options-content .timing-wrapper {
    width: 23%;
    flex-direction: column;
}

#retreat-message-options .message-options-content .timing-wrapper .input-wrapper {
    align-items: baseline;
}

#retreat-message-options .message-options-content .timing-wrapper:not(:last-child) {
    /* padding: 0  0 0 25px; */
    border-right: 1px solid #e5e5e5;
    /* border-left: 1px solid #e5e5e5; */
}

#retreat-message-options .message-options-content .timing-wrapper:not(:has(input[type="checkbox"]:checked)) .type-text,
#retreat-message-options .message-options-content .timing-wrapper:not(:has(input[type="checkbox"]:checked)) .type-time {
    display: none;
}

#retreat-message-options .message-options-content .timing-wrapper .type-checkbox {
    width: 100%;
}

#retreat-message-options .input-wrapper.attachment {
    gap: 15px;
}

#retreat-message-options .input-wrapper.attachment p {
    white-space: nowrap;
}

/* RETREATS MANAGE */
:root {
    --date-title-bg: #9681a9;

}

#retreats-management .retreats-wrapper {
    position: relative;
    display: grid;
}

#retreats-management .single-retreat {
    grid-area: 1/-1;
    display: flex;
    gap: 25px;
}

#retreats-management .single-retreat p {
    margin: 0;
}

#retreats-management .single-retreat .retreat-heading {
    width: 15%;
    height: fit-content;
    padding: 0 8px;
    text-align: center;
    border: 1px solid #fff;
    border-top-right-radius: 8px;
    cursor: pointer;
}

#retreats-management .single-retreat .retreat-heading h3 {
    margin: 0;
    padding: 8px 0;
}

#retreats-management .single-retreat .retreat-content {
    position: relative;
    width: 85%;
    max-width: 1140px;
    padding: 15px;
    z-index: 1;
}

#retreats-management .single-retreat .retreat-content h4 {
    margin: 0;
}

#retreats-management .single-retreat .retreat-content .title-echo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;

}

#retreats-management .single-retreat[data-selected='true'] {
    /* z-index: 1; */
}

#retreats-management .single-retreat[data-selected='true'] .retreat-heading,
#retreats-management .single-retreat[data-selected='true'] .retreat-content {
    background-color: #fff;
}

#retreats-management .single-retreat[data-selected='false'] .retreat-content {
    display: none;
}

#retreats-management .single-retreat .departure-dates {
    overflow: hidden;
    position: relative;
}

#retreats-management .single-retreat .departure-dates-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 10px;
}

@media (max-width: 1024px) {
    #retreats-management .single-retreat .departure-dates-content {
        grid-template-columns: 1fr 1fr;
    }
}

#retreats-management .single-retreat .departure-date,
#retreats-management .single-retreat .departure-date .heading h5 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#retreats-management .single-retreat h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

#retreats-management .single-retreat .departure-date {
    width: 100%;
    justify-self: center;
    transition: all .3s linear;
}

#retreats-management .single-retreat .departure-date[data-selected="true"] {
    z-index: 1;
}

#retreats-management .single-retreat .departure-date[data-selected="false"] .content {
    opacity: 0;
}

#retreats-management .single-retreat .departure-date .heading {
    color: #fff;
    background-color: var(--date-title-bg);
    padding: 15px 6px;
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid var(--date-title-bg);
}

#retreats-management .single-retreat .departure-date[data-selected="false"] .heading {
    background-color: #fff;
    color: var(--date-title-bg);
}

#retreats-management .single-retreat .departure-date .heading:hover,
#retreats-management .single-retreat .departure-date[data-selected="true"] .heading {
    color: #fff;
    background-color: var(--date-title-bg);
}

#retreats-management .single-retreat .departure-date .heading h5 {
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

#retreats-management .single-retreat .departure-date .content {
    display: none;
    position: relative;
    width: calc(300% - 12.5px);
    padding: 10px 15px;
    border: 1px solid var(--date-title-bg);
}


#retreats-management .single-retreat .rooms .rooms-list,
#rooms-stats .rooms-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#retreats-management .single-retreat .rooms .rooms-list>li,
#rooms-stats .rooms-list>li {
    border-radius: 4px;
    transition: all .3s linear;
    cursor: pointer;
    width: 30%;
}

/* 
@media (min-width: 1350px){
    #retreats-management .single-retreat .rooms .rooms-list > li{
    }
}
@media (max-width: 1350px){
    #retreats-management .single-retreat .rooms .rooms-list > li{
        width: 45%;
    }
} */

#retreats-management .single-retreat .rooms .rooms-list>li .room-heading,
#retreats-management .single-retreat .rooms .rooms-list>li .room-content,
#rooms-stats .rooms-list>li .room-heading,
#rooms-stats .rooms-list>li .room-content {
    padding: 8px 4px;
}

#retreats-management .single-retreat .rooms .rooms-list>li .room-name,
#rooms-stats .rooms-list>li .room-name {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    height: fit-content;
    transition: all .3s linear;
}

#retreats-management .single-retreat .rooms .rooms-list>li:hover .room-name,
#rooms-stats .rooms-list>li:hover .room-name {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#retreats-management .single-retreat .rooms .rooms-list>li[data-selected="true"] .room-name,
#rooms-stats .rooms-list>li[data-selected="true"] .room-name {
    padding-bottom: 10px;
}

#retreats-management .single-retreat .rooms .rooms-list li,
#rooms-stats .rooms-list li {
    margin: 0;
}

#retreats-management .single-retreat .rooms .rooms-list>li .room-content,
#rooms-stats .rooms-list>li .room-content {
    display: none;
    position: relative;
    background-color: #f3f6f6;
}

#retreats-management .single-retreat .rooms .rooms-list>li .status {
    /* white-space: nowrap; */
}

#retreats-management .single-retreat .rooms .rooms-list>li .status strong {
    font-size: 12px;
    text-transform: uppercase;
}

#retreats-management .single-retreat .rooms .room-guests-list {
    display: flex;
    gap: 15px;
}

#retreats-management .single-retreat .rooms .payments-collected {
    margin-top: 15px;
}

#retreats-management .single-retreat form.book-room-form[data-active="false"] {
    display: none;
}

#retreats-management .single-retreat form.book-room-form[data-active="true"] {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

#retreats-management .single-retreat form.book-room-form .first-guest,
#retreats-management .single-retreat form.book-room-form .second-guest {
    width: 48%;
}

#retreats-management form.book-room-form .second-guest:not(:has(input[name="guests[second][add]"]:checked)) .second-guest-content,
#retreats-management form.book-room-form .order-wrapper:not(:has(input[name="order[create_order]"]:checked)) .order-content {
    display: none;
}

#retreats-management form.book-room-form .order-wrapper:has(input[name="order[create_order]"]:checked) .order-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#retreats-management .single-retreat form.book-room-form .input-wrapper {
    display: flex;
}

#retreats-management .single-retreat form.book-room-form .input-wrapper.type-text {
    flex-direction: column;
}

#retreats-management .single-retreat form.book-room-form .input-wrapper.type-checkbox {
    margin-top: 8px;
    align-items: center;

}

#retreats-management .single-retreat ul.guests-list p {
    margin: 0;
}

#retreats-management .single-retreat ul.guests-list li {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8a7f7f;
}

#retreats-management .single-retreat ul.guests-list li.guests-heading {
    font-weight: 700;
    color: #fff;
    background-color: rgb(185, 150, 99);
    padding: 5px 8px;
}

#retreats-management .single-retreat ul.guests-list li:not(.guests-heading) {
    padding: 8px 0;
}

#retreats-management .single-retreat ul.guests-list li .expanding-wrapper strong {
    cursor: pointer;
    user-select: none;
}

#retreats-management .single-retreat ul.guests-list li .expanding-wrapper strong:after,
.single-payment-wrapper strong:after {
    content: '\276F';
    margin-left: 10px;
}

#retreats-management .single-retreat ul.guests-list li .expanding-wrapper.expanded strong:after,
#rooms-stats .rooms-list .single-payment-wrapper.expanded strong:after {
    display: inline-block;
    transform: rotate(90deg);
}

#retreats-management .single-retreat ul.guests-list li .expanding-item-content,
#rooms-stats .rooms-list .single-payment-wrapper .content {
    display: none;
    padding-left: 8px;
}

#retreats-management .single-retreat ul.guests-list li .expanding-details p {
    width: fit-content;
    background-color: #faeaff;
    margin-bottom: 6px !important;
    padding: 2px 8px;
    font-weight: 500;
    border-radius: 3px;
}

#retreats-management .single-retreat ul.guests-list li .details {
    width: 30%;
}

#retreats-management .single-retreat ul.guests-list li .actions {
    display: flex;
    gap: 25px;
}

#retreats-management .single-retreat ul.guests-list li .actions>* {
    width: 50%;
}

/* ROOMS STATS */


#rooms-stats .rooms-list>li .room-content {
    background-color: #fff;
}

#rooms-stats .retreats-revenue-wrapper {
    overflow: hidden;
}

#rooms-stats .retreats-revenue-wrapper h4 {
    margin: 10px 0 5px;
}

#rooms-stats .rooms-list .retreats-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 20px;
    transition: all .3s linear;
}

#rooms-stats .retreats-content .retreat-wrapper {
    width: 99%;
    background-color: #fff;
    /* border-radius: 8px; */
    border: 1px solid #787878;
}

#rooms-stats .retreats-content .retreat-wrapper h5 {
    margin: 0;
    padding: 8px 25px;
    font-size: 15px;
    background-color: #a8a8a8;
    color: #fff;
}

#rooms-stats .retreats-content .retreat-wrapper .retreat-dates {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 5px 10px;
}

#rooms-stats .retreats-content .retreat-wrapper .date-wrapper{
    position: relative;
    background: #ebebeb;
    padding: 0 18px 0 5px;
    border-radius: 4px;
}

#rooms-stats .retreats-content .retreat-wrapper .date-wrapper:after{
    content:'\25BC';
    position: absolute;
    right: 1px;
    top: 13px;
}

#rooms-stats .retreats-content .retreat-wrapper .date-wrapper:not(.active)::after{
    transform: rotate(-90deg);
}

#rooms-stats .retreats-content .retreat-wrapper .date-wrapper .tab{
    font-weight: 600;
}

#rooms-stats .retreats-content .retreat-wrapper .date-wrapper .content{
    display: none;
}

#rooms-stats .retreats-revenue-wrapper .arrows-container {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#rooms-stats .retreats-revenue-wrapper .arrows-container button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 0;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: all .3s linear;
}

#rooms-stats .retreats-revenue-wrapper .arrows-container button:hover {
    background-color: #000;
    color: #fff;
}

#rooms-stats .retreats-revenue-wrapper:has(.retreat-wrapper.first[data-current="true"]) .arrows-container button.prev-arrow,
#rooms-stats .retreats-revenue-wrapper:has(.retreat-wrapper.last[data-current="true"]) .arrows-container button.next-arrow {
    opacity: 0;
    width: 0;
}


#rooms-stats .rooms-list .single-payment-wrapper {
    padding: 6px;
    background-color: #fff;
    width: 30%;
}

/* CONFIGURATIONS */

#options form {
    max-width: 650px;
}

#options form.retreat-options-form input[type="submit"] {
    width: 50%;
    margin: auto;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s linear;
}

#options .stripe-configs-wrapper {
    margin-top: 45px;
}

#options form.stripe-configs-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 25px;
}

#options form.retreat-options-form .mode-wrapper {
    background-color: #fff;
    padding: 15px;
}

#options form.retreat-options-form .mode-wrapper h5 {
    margin: 0 0 8px;
    font-size: 15px;
}

#options form.retreat-options-form .input-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

#options form.retreat-options-form .input-wrapper:not(.switch-button-wrapper) {
    justify-content: space-between;
}

#options form.retreat-options-form input[type="submit"] {
    grid-column: 1/-1;
    width: 50%;
    margin: auto;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s linear;
}

#options form.retreat-options-form .switch-button-wrapper input[type=checkbox] {
    display: none;
}

#options form.retreat-options-form .switch-button-wrapper label {
    cursor: pointer;
    width: 55px;
    height: 27px;
    background: grey;
    display: block;
    border-radius: 40px;
    position: relative;
}

#options form.retreat-options-form .switch-button-wrapper label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 17px;
    height: 18px;
    background: #fff;
    border-radius: 25px;
    transition: 0.3s;
}

#options form.retreat-options-form .switch-button-wrapper input:checked+label {
    background: #bada55;
}

#options form.retreat-options-form .switch-button-wrapper input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#options form.retreat-options-form .switch-button-wrapper label:active:after {
    width: 85px;
}